* {
  padding: 0;
  margin: 0;
  width: 100%;
}

body {
  font-family: sans-serif;
  background-color: #e0e0e0;
}

.input-section {
  width: 100%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-section h1 {
  font-size: calc(2em + 5vmin);
  text-align: center;
  margin-bottom: calc(.6em - 4vmin);
  color: #001f3f;
}

.card {
  width: 30vw;
  height: 20vw;
  border-radius: 33px;
  background: #e0e0e0;
  -webkit-box-shadow: -6px -5px 22px 1px rgba(255, 255, 255, 0.7);
          box-shadow: -6px -5px 22px 1px rgba(255, 255, 255, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.card p {
  width: 80%;
  font-size: calc(.5em + 1.5vmin);
  text-align: center;
  margin-bottom: 4em;
  color: #001f3f;
}

.card .error-message {
  position: absolute;
  bottom: .1em;
  right: .1em;
  color: red;
  font-size: 14px;
}

.card .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .search #cinput {
  width: 40%;
  height: 1.9em;
  border-radius: 37px;
  background: #e0e0e0;
  border: none;
  outline: none;
  -webkit-box-shadow: 9px -9px 30px #bebebe, -9px 9px 30px #ffffff;
          box-shadow: 9px -9px 30px #bebebe, -9px 9px 30px #ffffff;
  padding-left: 1em;
}

.card .search #cinput::-webkit-input-placeholder {
  color: #001f3f;
  opacity: 40%;
}

.card .search #cinput:-ms-input-placeholder {
  color: #001f3f;
  opacity: 40%;
}

.card .search #cinput::-ms-input-placeholder {
  color: #001f3f;
  opacity: 40%;
}

.card .search #cinput::placeholder {
  color: #001f3f;
  opacity: 40%;
}

.card .search #cinput:valid {
  background: none;
}

.card .search #cinput:focus {
  background: none;
}

.card .search button {
  width: 2.1em;
  height: 2.1em;
  border-radius: 50px;
  color: #e0e0e0;
  font-size: 1.5em;
  font-weight: bold;
  background-image: url("../img/city.jpg");
  background-size: cover;
  border: none;
  -webkit-box-shadow: 7px -7px 14px #a6a6a6, -7px 7px 14px #ffffff;
          box-shadow: 7px -7px 14px #a6a6a6, -7px 7px 14px #ffffff;
  margin-left: 1em;
  cursor: pointer;
  position: relative;
}

.card .search #cbutton::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 8px 32px 0 rgba(135, 31, 31, 0.37);
          box-shadow: 0 8px 32px 0 rgba(135, 31, 31, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(4.5px);
  opacity: 0%;
}

.card .search #cbutton:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.card .search #cbutton:hover::after {
  opacity: 100%;
  -webkit-transition: .6s;
  transition: .6s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

.card .search #cbutton:active::after {
  opacity: 0%;
  -webkit-transition: .1s;
  transition: .1s;
}

.card .search #cbutton:active {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .1s;
  transition: .1s;
}

.output-section {
  width: 100%;
  height: auto;
  padding-top: 1.5em;
  padding-bottom: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.output-section h2 {
  text-align: center;
  text-transform: capitalize;
  color: #001f3f;
  font-size: calc(1.5em + 5vmin);
  margin-bottom: calc(.6em - 4vmin);
}

.output-section .card {
  width: 60vw;
  height: 40vw;
}

.output-section .card p {
  margin-bottom: 0em;
  width: 70%;
}

.output-section .card .value-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5em;
}

.output-section .card .card-box {
  width: 30%;
  height: 2.1em;
  border-radius: 37px;
  color: #001f3f;
  background: #e0e0e0;
  -webkit-box-shadow: 9px -9px 30px #bebebe, -9px 9px 30px #ffffff;
          box-shadow: 9px -9px 30px #bebebe, -9px 9px 30px #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.output-section .card .card-box p {
  text-align: right;
  font-weight: bold;
}

.output-section .card #roundbox {
  width: 3em;
  height: 3em;
  border-radius: 50px;
  margin-left: 2em;
}

.output-section .card #roundbox p {
  text-align: center;
}

.output-section .other-values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5em;
}

.output-section .other-values .score-parameter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin-top: 5em;
}

.output-section .other-values .score-parameter h3 {
  text-align: center;
  color: #001f3f;
  font-size: calc(.8em + 4.8vmin);
  margin-bottom: .35em;
}

.output-section .other-values .score-parameter .card {
  width: 25rem;
  height: 30rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.output-section .other-values .score-parameter .card .shadow {
  width: 17rem;
  height: 17rem;
  border-radius: 50%;
  background: #e0e0e0;
  -webkit-box-shadow: 9px -9px 30px #b2b2b2, -9px 9px 30px #ffffff;
          box-shadow: 9px -9px 30px #b2b2b2, -9px 9px 30px #ffffff;
}

.output-section .other-values .score-parameter .card .shadow .progressbar {
  width: 17rem;
  height: 17rem;
  border-radius: 50%;
  background: none;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.output-section .other-values .score-parameter .card .shadow .progressbar::after {
  content: '';
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 1rem;
  top: 9rem;
  border-radius: 42px;
  background: linear-gradient(45deg, #bebebe, #ffffff);
}

.output-section .other-values .score-parameter .card .center-circle {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background: -webkit-gradient(linear, left bottom, left top, from(#a18cd1), to(#fbc2eb));
  background: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.output-section .other-values .score-parameter .card .center-circle p {
  text-align: center;
  font-size: 3.7rem;
  font-weight: bold;
  color: #e0e0e0;
}

.output-section .other-values .score-parameter .card .center-circle::after {
  content: '';
  width: 7rem;
  height: 7rem;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: none;
  -webkit-box-shadow: inset 21px -21px 25px #000000, inset -21px 21px 25px #000000;
          box-shadow: inset 21px -21px 25px #000000, inset -21px 21px 25px #000000;
  opacity: 20%;
}

@media (min-width: 1500px) {
  .output-section .other-values .score-parameter {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
            flex: 0 0 33%;
  }
}

@media (max-width: 1024px) {
  .input-section .card {
    width: 40vw;
    height: 30vw;
  }
  .output-section .card {
    width: 70vw;
    height: 70vh;
  }
  .output-section .card .value-container {
    margin-top: 3em;
  }
}

@media (max-width: 700px) {
  .input-section .card {
    width: 70vw;
    height: 70vw;
  }
  .output-section {
    padding-top: 0;
  }
  .output-section .card {
    width: 70vw;
    height: 70vh;
  }
  .output-section .other-values .score-parameter .card {
    width: 80vw;
    height: 90vw;
  }
}

@media (max-width: 500px) {
  .input-section .card {
    width: 90vw;
    height: 80vw;
  }
  .input-section .card #cbutton:hover::after {
    opacity: 0%;
  }
  .input-section .card #cbutton:active::after {
    opacity: 0%;
  }
  .input-section .card #cbutton:active {
    -webkit-transform: none;
            transform: none;
  }
  .output-section {
    padding-top: 0;
  }
  .output-section .card {
    width: 90vw;
    height: 50vh;
  }
  .output-section .card .card-box {
    width: 40%;
  }
  .output-section .other-values .score-parameter .card {
    width: 90vw;
    height: 100vw;
  }
}
/*# sourceMappingURL=style.css.map */